.home-about-title {
  height: 256px;
  width: 468px;
  background-image: url(../../public/img/assets/about-page.png);
}
.home-about-img {
  height: 272px;
  width: 468px;
  background-image: url(../../public/img/assets/about-img.png);
}
.about-cont {
  height: fit-content;
  width: 100%;
  background-color: var(--primary-color);
  padding: 74px 0;
  text-align: justify;
}
.about-cont .home-cate {
  padding-top: 0;
  font-size: 23.5px;
  font-weight: bold;
  line-height: 47px;
  height: auto;
  color: white;
}
.home-about-img2 {
  height: 272px;
  width: 468px;
  background-image: url(../../public/img/assets/about-img2.png);
}
.home-about-title2 {
  height: 282px;
  width: 468px;
  background-image: url(../../public/img/assets/about-page2.png);
}
.about-title {
  color: black;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  padding: 36px 0;
}
.about-divider {
  height: 6px;
  width: 466px;
  background-color: var(--primary-color);
}
.about-discover {
  text-align: start;
  /* margin: 108px 0; */
  margin-top: 108px;
}
.about-discover h2 {
  padding: 48px 0;
}

.about-discover-img1 {
  background-image: url(../../public/img/assets/about-disco-1.png);
  background-size: contain;
}
.about-discover-text h1 {
  font-size: 36px;
  color: var(--primary-color);
}
.about-discover-text h2 {
  line-height: 40px;
  font-size: 22px;
  font-weight: bold;
}
.about-discover-text p {
  font-size: 22px;
  line-height: 40px;
  text-align: start;
}
.about-discover-img2 {
  background-image: url(../../public/img/assets/about-disco-2.png);
  background-size: contain;
}
.about-discover-img3 {
  background-image: url(../../public/img/assets/about-disco-3.png);
  background-size: contain;
}
.about-policy {
  padding: 78px 0;
  margin: 128px 0;
  color: white;
}
.about-policy h2 {
  padding-bottom: 56px;
  color: white;
  font-size: 34px;
  font-weight: 600;
}
.about-policy h3 {
  font-size: 24px;
  font-weight: 600;
}
.about-policy p {
  font-size: 17px;
  font-weight: 300;
}
.about-policy .home-cate {
  padding: 0;
}
.about-policy-img1 {
  height: 58px;
  width: 86px;
  background-image: url(../../public/img/assets/about-policy-1.png);
}
.about-policy-img2 {
  width: 78px;
  height: 68px;
  background-image: url(../../public/img/assets/about-policy-2.png);
}
.about-policy-img3 {
  width: 70px;
  height: 63px;
  background-image: url(../../public/img/assets/about-policy-3.png);
}
